@import "components/globales";
@import "components/footers";
@import "components/navbars";

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h5 {
	font-size: 2rem;
}

p,
a,
button,
input,
textarea {
	font-size: 1.5rem !important;
}

#main {
	.carousel-inner {
		img {
			max-height: 75vh;
			object-fit: cover;
			filter: grayscale(70%);
		}
	}
}

#carousel {
	position: relative;

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		z-index: 1;

		.container {
			height: 100%;
		}

		.row {
			height: 100%;
		}
	}
}

#place-time {
	color: white;
	background-color: #212529;

	img {
		max-width: 100%;
	}
}

.text-platzi {
	color: $color_platzi !important;
}

.btn-platzi {
	color: white;
	background-color: #688f26;

	&:hover {
		background-color: $color_platzi;
	}
}

.card {
	img {
		height: 35vh;
		object-fit: cover;
	}
}

.badges {
	span {
		font-size: 1.2rem;
	}
}