footer#footer.pb-4.pt-4
	.container
		.row.text-center
			.col-12.col-lg-2: a(href="#") Preguntas Frecuemtes
			.col-12.col-lg-2: a(href="#") Contáctanos
			.col-12.col-lg-2: a(href="#") Prensa
			.col-12.col-lg-2: a(href="#") Conferencias
			.col-12.col-lg-2: a(href="#") Términos y Condiciones
			.col-12.col-lg-2: a(href="#") Privacidad 
			//- .col-12.col-lg-2: a(href="#") Estudiantes