.row
	.col-12.col-md-6.form-label
		input(type="text" class="form-control" placeholder="Nombre" aria-label="First name")
	.col-12.col-md-6.form-label
		input(type="text" class="form-control" placeholder="Apellido" aria-label="Last name")
.row
	.col.form-label
		textarea.form-control.form-control-lg(name="" cols="30" rows="3" placeholder="Sobre ¿qué quieres hablar?")
		p.form-text.text-muted Recuerda icluir un título para tu charla.
.row
	.col.form-label
		button.btn.btn-platzi.col-12(type="button") Enviar