//--- Button trigger modal -->
//- button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modalCompra") Launch static backdrop modal
//--- Modal -->
.modal.fade#modalCompra(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header
				h5.modal-title#staticBackdropLabel Comprar tickets
				button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
			.modal-body
				form(action="")
					.row: .col-12.form-label: .input-group.mb-3
						span.input-group-text#basic-addon1 @
						input(type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1")
				.alert.alert-warning(role="alert"): p Recibirás un correo de confirmación si sales sorteado.
			.modal-footer
				button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
				button.btn.btn-platzi(type="button") Comprar 